*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(184, 184, 184);
    grid-gap: 5px;
    display: grid;
    grid-template-areas: 
        "cab cab"
        "pri pri"
        "rod rod";
    grid-template-columns:20% auto;
    grid-template-rows: auto 1000px auto;
}

header{
    grid-area: cab;
    width: 100%;
    background-color: rgb(35, 68, 255);
}

main{
    grid-area: pri;
}
footer{
    grid-area: rod;
    background-color:rgb(35, 68, 255);
}


